html{
  min-height: 100%; /*So that the background covers the entire screen and the bgimg starts from the bottom of the screen*/
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/src/img/background_img.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
}

form{
  margin-top: 60px;
  padding: 25px;
}

form button, form h5{
  margin: 25px 0;
}